#weather-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-card {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  width: 48%;
}

.weather-info {
  text-align: center;
}

.city-name {
  font-size: 24px;
  font-weight: bold;
}

.weather-icon-temp {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
}

.weather-icon-temp img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.temperature {
  font-size: 20px;
  font-weight: bold;
}

.temp-range {
  font-size: 15px;
  margin-top: 5px;
}

.weather-condition {
  font-size: 15px;
  margin-bottom: 10px;
}

.wind-info {
  font-size: 15px;
}

.wind-info span {
  margin-right: 13px;
}

/* houre forecast */

.hourly-forecast {
  width: 48%;
  height: 115px;
  overflow-x: scroll;
  white-space: nowrap;
  cursor: grab;
  scrollbar-width: thin;
  scrollbar-color: gray;
  /* padding-right: 2000px; */
}

.hour-forecast {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  margin-right: 10px;
}

.hour-forecast p {
  margin: 0;
  font-size: 14px;
}

.hour-forecast:first-child {
  margin-left: 10px;
}

.hour-forecast:last-child {
  margin-right: 0;
}

/* Add any additional styling as needed */
